body {
    background: rgb(148,218,233);
    background: radial-gradient(circle, rgba(148,218,233,1) 0%, rgba(148,160,233,1) 100%);
}

/* ------------ Botao Geral ------------ */

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* ------------ Botao Confirm ------------ */

#idConfirm {
    background-color: #4CAF50;
}

#idConfirm:hover {
    background-color: #3e8e41
}

#idConfirm:active {
    background-color: #3e8e41;
}

/* ------------ Botao Reset ------------ */

#idReset {
    background-color: yellow;
    color: black;
}

#idReset:hover {
    background-color: rgb(233, 233, 1);
}

#idReset:active {
    background-color: darkgoldenrod;
}

/* ------------ Botao Branco ------------ */

#idBranco {
    background-color: white;
    color: black;
}

#idBranco:hover {
    background-color: rgb(218, 216, 216);
}

#idBranco:active {
    background-color: darkgray;
}

/* ------------ Estilos da imagem do candidato ------------ */

/*div.polaroid {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
    text-align: center;
    padding: 10px 20px;
} */

/* ------------ Input Datalist ------------ */

/*#idInputCand {
    height: 30px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 3px;
    border-style: outset;
    border-color: lightcoral;
} */